html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}
table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

body{
    background-color: #6B7361;
}


h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48;
    font-weight: bold;
}


h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36;
    font-weight: bold;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24;
    font-weight: bold;

}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18;
    font-weight: bold;

}

.large-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18;
}

.medium-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14;
}